navigable-container-wrapper {
  display: 'contents';
}

navigable-item-wrapper:not(.unstyled).focused> :first-child,
navigable-item-wrapper:not(.unstyled):hover> :first-child {
  outline: none;
  /* color: black;
  background-color: white; */
  text-decoration: underline;
  cursor: pointer;
}

navigable-item-wrapper:not(.unstyled):not(.notRounded).focused> :first-child,
navigable-item-wrapper:not(.unstyled):not(.notRounded):hover> :first-child {
  border-radius: 5px;
}

navigable-item-wrapper:not(.unstyled):not(.notRounded).focused>tr:first-child>td:first-child,
navigable-item-wrapper:not(.unstyled):not(.notRounded):hover>tr:first-child>td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

navigable-item-wrapper:not(.unstyled):not(.notRounded).focused>tr:first-child td:last-child,
navigable-item-wrapper:not(.unstyled):not(.notRounded):hover>tr:first-child td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}