html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; 

    color: rgb(230, 230, 230);
    
    background: rgb(8,4,45);
    background: linear-gradient(0deg, rgba(8,4,45,1) 20%, rgb(10, 38, 89) 100%);
    background-attachment: fixed;
}

navigable-item-wrapper, [item-like-style] {
    padding: 5px;
}

navigable-item-wrapper.focusedOrMouseHover, navigable-item-wrapper:hover {
    outline: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

navigable-item-wrapper.transparent > :first-child, [item-like-style].transparent > :first-child {
    padding: 5px;
    cursor: pointer;
}

navigable-item-wrapper.focusedOrMouseHover.transparent > *, navigable-item-wrapper.transparent:hover > * {
    outline: none;
    background-color: white;
}

navigable-item-wrapper.focusedOrMouseHover > tr > td:first-child,
navigable-item-wrapper:hover > tr > td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

navigable-item-wrapper.focusedOrMouseHover tr td:last-child,
navigable-item-wrapper:hover tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
