html {
  height: 100%;
  font-size: 12px;
}

@property --linear-start {
  syntax: '<color>';
  initial-value: rgba(8, 4, 45, 1);
  inherits: false;
}

@property --linear-end {
  syntax: '<color>';
  initial-value: rgb(10, 38, 89);
  inherits: false;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(230, 230, 230);
  overflow: auto;

  background: linear-gradient(0deg, var(--linear-start) 20%, var(--linear-end) 100%);
  background-attachment: fixed;

  transition: --linear-start 0.5s, --linear-end 0.5s;
}

body.black-background {
  --linear-start: #000;
  --linear-end: #000;

  transition: --linear-start 1s, --linear-end 1s, opacity 1s;
}

/* body.distraction-free {
  --linear-start: #000;
  --linear-end: #000;

  transition: --linear-start 1s, --linear-end 1s, opacity 1s;
} */

[data-item-like-style] {
  padding: 5px;
}

navigable-item-wrapper.focusedOrMouseHover > :first-child,
navigable-item-wrapper:hover > :first-child {
  outline: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

navigable-item-wrapper:not(.notRounded).focusedOrMouseHover > :first-child,
navigable-item-wrapper:not(.notRounded):hover > :first-child {
  border-radius: 5px;
}

navigable-item-wrapper:not(.notRounded).focusedOrMouseHover > tr:first-child > td:first-child,
navigable-item-wrapper:not(.notRounded):hover > tr:first-child > td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

navigable-item-wrapper:not(.notRounded).focusedOrMouseHover > tr:first-child td:last-child,
navigable-item-wrapper:not(.notRounded):hover > tr:first-child td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
